.textoAzul{
  color: blue;
}

.textoBold{
  font-weight: bold;
}

#textoRosa{
  color: pink;
}

h3{
  color: red;
}

/* ### Propriedades Herdáveis por Padrão

Algumas propriedades CSS são herdáveis por padrão, o que significa que os elementos filhos herdam essas propriedades de seus elementos pais automaticamente. Exemplos de propriedades herdáveis incluem:

- `color`
- `font-family`
- `font-size`
- `font-style`
- `font-weight`
- `line-height`
- `text-align`
- `visibility` */

/* ### Propriedades Não Herdáveis por Padrão

Outras propriedades não são herdáveis por padrão, o que significa que seus valores não são passados automaticamente dos elementos pais para os filhos. Exemplos de propriedades não herdáveis incluem:

- `background`
- `border`
- `margin`
- `padding`
- `height`
- `width`
- `display` */